

    <head>    
        <title>TIPSY</title>
        <meta charset="UTF-8"/>
        
 </head>
    <body>
<h2>Welcome {{loggedInUser.firstname}}.</h2>
<h4><a href="/user/{{loggedInUser.id}}">View profile</a></h4>
<h4><a href="/user/{{loggedInUser.id}}/edit">Edit Profile</a></h4>
<br>

    {{#each allProfiles}}
    <div><a href="/profiles/1/view?id={{id}}">{{firstname}}</a></div>
     
    <div><a href="/profiles/1/view?id={{id}}">{{tagline}}</a></div>
    
    <div><a href="/profiles/1/view?id={{id}}"><img src="{{profilepic}}" width="200px"></a></div>
     {{/each}}
    
    </body>
    </html>