    <head>    
        <title>Tipsy</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <form method="post" action="/user/{{id}}/edit" accept-charset="UTF-8" >
            First name:
        <input name="firstname" type="text" placeholder="{{firstname}}"><br>
            Last name:
        <input name="lastname" type="text" placeholder="{{lastname}}"><br>
            Tag line:  
        <input name="tagline" type="text" placeholder="{{tagline}}" ><br>
            Language:
            <input name="language" id="english" value="english" type="checkbox">English
            <input name="language" id="spanish" value="spanish" type="checkbox">Spanish
            <input name="language" id="te_reo" value="te_reo" type="checkbox">Te reo Maori
       <br>
            Email:
        <input name="email" type="text" placeholder="{{email}}"><br>
            Profile picture URL: 
        <input name="profilepic" type="text" placeholder="{{profilepic}}"><br>
        <input type="submit" onClick="" value="You are great!"/>
        </form>

    </body>
