    <head>    
        <title>Tipsy</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <form name="profile" method="post" action="/displayPage"  accept-charset="UTF-8" >
            First name:
        <input name="firstname" type="text" placeholder="{{firstname}}"><br>
            Last name:
        <input name="lastname" type="text" placeholder="{{lastname}}"><br>
            Tag line:  
        <input name="tagline" type="text" placeholder="{{tagline}}" ><br>
            Language:
            {{!-- fix this --}}
        {{!-- <select name="languages">
            <input type= "radio" value="english">English
            <input type= "radio" value="spanish">Spanish
            <input type= "radio" value="te_reo">Te reo Maori
        </select><br> --}}
            Email:
        <input name="email" type="text" placeholder="{{email}}"><br>
            Profile picture URL: 
        <input name="profilepic" type="text" placeholder="{{profilepic}}"><br>
        <input type="submit" onClick="" value="You are great!"/>
        </form>

    </body>
