    <head>    
        <title>TIPSY</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
    <center><h1> TIPSY </h1><br>
    <h3>{{firstname}} {{lastname}}</h3> 
    <h3>{{tagline}}</h3> 
    <h3>{{email}}</h3> 
    <img src="{{profilepic}}" width = "400px">
    <br>
    <br>
    <a href="/user/{{id}}/edit"><button>Edit Profile</button></a>
    <br>
    <br>
    <a href="/profiles/{{id}}"><button>Back</button></a>
    
    
    
    </center>
    
    </body>
    </html>